<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830245776882-e1bmb423vrr14l240r6upviofuloapck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830245776882-e1bmb423vrr14l240r6upviofuloapck</string>
	<key>API_KEY</key>
	<string>AIzaSyDt6PPdD6sHty0f5q1fX8-UYGIdUIGYFBM</string>
	<key>GCM_SENDER_ID</key>
	<string>830245776882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sara.Banan</string>
	<key>PROJECT_ID</key>
	<string>banan-c9e40</string>
	<key>STORAGE_BUCKET</key>
	<string>banan-c9e40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830245776882:ios:30de52c2e8980156b40f6b</string>
</dict>
</plist>